{% extends 'default/template.html' %}
{% load static %}
{% block top %}
    <title>Contact | Virchess &copy;</title>
{% endblock %}    
{% block body %}
      <body>
        <div class="box"><center>
          <form method="post">
            <h1>Contact Us</h1>
            {% csrf_token %}
              <input type="text" name="message-name" class="name" placeholder="Please enter your Name" required>
              <input type="email" name="message-email"class="email" placeholder="Please enter your Email" required>
              <textarea name="message" id="message" cols="30" rows="10" placeholder="Enter a message" required></textarea>
            <button type="submit">Submit</button>
          </form>
        </center>
      </div>
    </body>
    {% endblock %}
