{% extends 'default/template.html' %}
{% load static %}
{% block top %}
    <title>Study | Virchess &copy;</title>
{% endblock %}
{% block body %}
{% if message %}
    <div>{{ message }}</div>
{% endif %}
<div class="box"><center>
<form action="{% url 'event' %}" method = "post">
  <h1>Study</h1>
    {% csrf_token %}
    <input type="email" class="name" name="useremail" placeholder="Email" required>
    <input type="text" class="name" name="lichessusername" placeholder="Enter you Lichess username if you have one">
    <select class="email" name="userdifficulty" required>
    
      {% for x in difficulty %}
          <option name="{{ x }}">{{ x }}</option>
      {% endfor %}
    </select>
    <button class="button" type="submit">Submit</button>
    <br>
</form>
</center></div>
{% endblock %}
