{% extends 'default/template.html' %}
{% block body %}
{% if message %}
    <div>{{ message }}</div>
{% endif %}
<div class="box"><center>
<form action="{% url 'event' %}" method = "post">
  <h1>Study</h1>
    {% csrf_token %}
    <input type="text" class="name" name="useremail" placeholder="Email">
    <select class="email" name="userdifficulty">
      {% for x in difficulty %}
          <option name="{{ x }}">{{ x }}</option>
      {% endfor %}
    </select>
    <button type="submit">Submit</button>
    <br>
</form>
</center></div>
{% endblock %}
