{% extends 'default/template.html' %}
{% block body %}
    {% if message %}
        <div>{{ message }} </div>
    {% endif %}
    <div class="box"><center>
      <form action="{% url 'login' %}" method = "post">
        <h1>Login</h1>
        {% csrf_token %}
        <input type="text" class="name" name="username" placeholder="Username" required>
        <input type="password" class="name" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
        <br>
        <p class="text">Not a memeber yet? <a href="{% url 'register' %}">Sign Up</a></p>
      </form>
    </center></div>
{% endblock %}
