{% extends 'default/template.html' %}
{% block body %}

    <div class=".box"><center>

    <form action="{% url 'event' %}" method = "post">
      <h1>Welcome, {{ request.user.username }}</h1>
        {% csrf_token %}
        <select class="name" name="userdifficulty">
        {% for x in difficulty %}
            <option name="{{ x }}">{{ x }}</option>
        {% endfor %}
    </select>
        <button type="submit">Submit</button>
        <br>
        <a href= "{% url 'logout' %}">Log Out</a>
    </form>

  </center></div>
  <br>
{% endblock %}
